{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Montserrat|Neucha|Noto+Serif+JP|Noto+Serif+KR|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://icon2.kisspng.com/20180412/xiw/kisspng-paper-sunset-shimmer-quill-cutie-mark-crusaders-bo-write-5acf53a3231648.3205577215235368031437.jpg">
{% endblock %}



{% block content %}
<br><br><br>
<style>p{color:black}</style>
<div class="col-md-8">
{% for post in posts %}

  <div class="panel">
    <div class="panel-body responsive">
      <div class="col-md-8">
        <div class="text-center">
    <h1>{{post.title}}</h1>
    <h4>{{post.posted.strftime('%Y-%m-%d')}}/<a href="#">{{post.category}}</a>/<a href="/post/{{post.id}}?like=1"<i class="fas fa-heart"></i>{{post.like}}</a></h4>
  </div>
    <br>

    <p>{{post.post|truncate(350)}}</p>
    <div class="text-center">
    <a href="/post/{{post.id}}" >CONTINUE READING...</a>
  </div>
  </div>
  <div id="img" class="col-md-4">
    <img src="{{url_for('static',filename='css/father.jpg')}}" class="img-rounded img-responsive">
  </div>
</div>
  </div>
{% endfor %}
</div>

<div class="jumbotron">
<p>It’s tough out there for modern dads, and if you happen to be one, odds are you can use a little solidarity. Enter the best dad blogs, which dispense with a slew of perspectives and plenty of sound advice. Indeed, whether you’re seeking stay-at-home dad blogs, geek dad blogs, first-time dad blogs, or just regular old-fashioned dad blogs, it’s all just a few clicks away. Meanwhile, most of the best dad blogs also include general lifestyle coverage about everything from movies to sports to travel, meaning you don’t have to be a dad to enjoy them. To save you the hassle of an extensive Google search, we’ve put the 21 best dad blogs in one place. May you find each one to be as reassuring as it is entertaining.

  You’ll also like:
  12 Best Australian Whisky Blogs
  Dezeen’s 10 of the best Monochrome Interiors From Pinterest
  11 Best Men’s Gear Blogs
  
  fatherly best dad blogs
  
  1. Fatherly
  More than one of the best dad blogs, Fatherly is a full-blown digital empire for adult males. It’s then no surprise that you can find pretty much everything under the sun in these popular parts. We’re talking entertainment, gear, health, news, financial planning, and, of course, parenting advice. Should you be a father, consider this your one-stop shop for all the coverage you could possibly desire.
  
  Year Founded: April 2015
  Founder: Michael Rothman, Simon Isaacs
  Country: New York, United States
  
  Check it out
  
  the dad website
  
  2. The Dad Website
  True to its name, The Dad Website is…well…a website for dads. It’s also one of the best dad blogs on the Internet. On these pages, you’ll find interviews with celebrity dads and regular dads alike, along with choice articles about family-related products and trends. That’s all joined by reviews of things like movies and beer. After all, what dad doesn’t love movies and beer?
  
  Year Founded: December 2016
  Founder: Fergus Donaldson, Daniel Lewis, Phil Van Bruchem
  Country: Melbourne, Australia
  
  Check it out
  
  all pro dad
  
  3. All Pro Dad
  All Pro Dad takes a truly intensive and supportive approach to modern parenting, thereby transcending its status as one of the best dad blogs. To join the team is to gain access to a much broader community of like-minded fathers, all of whom are trying to be better parents. Should you get in with a local chapter, you’ll be invited to monthly and/or annual events, each one centered around relationship building. Otherwise, you can subscribe to the newsletter to receive daily advice on how to up your parenting game. Welcome to the pros, gentlemen.
  
  Year Founded: 1991
  Founder: Mark Merrill, Tony Dungy
  Country: Tampa, Florida, United States
  
  Check it out
  
  how to be a dad
  
  4. How to Be a Dad
  Don’t be fooled by the name–How to Be a Dad is still learning the art of parenting just as much as you are. However, the site is more than happy to entertain and share with various insights, making it a terrific first-time dad blog, among other things. Come for the laughs, stay for the wisdom. Just don’t expect an instruction manual because life doesn’t come with one and true parenting doesn’t either.
  
  Year Founded: 2010
  
  Check it out
  
  lunchbox dad
  
  5. Lunchbox Dad
  Proving that some of the best dad blogs are the ones with a solid niche, Lunchbox Dad delivers fresh and exciting ideas for kids’ lunches. It’s brought to you by Beau Coffron, a father of three who’s appeared on numerous media outlets, and contributed to a range of other blogs. Here on Lunchbox Dad, expect to find healthy, inventive lunches that your kids will adore. Also featured are product reviews and some general articles on parenting. For stay-at-home dads, in particular, this one is a must.
  
  Year Founded: September 8, 2012
  Founder: Beau Coffron
  Country: Oklahoma City, United States
  
  Check it out
  
  the father hood
  
  6. The Father Hood
  Made for Aussies, by Aussies, The Father Hood puts a spotlight on the kind of proactive parenting we can all rally behind. In other words, this is not a site for couch potatoes and deadbeats. Instead, it’s Australia’s #1 place for dads who give a damn. Sign up today.
  
  Year Founded: 2018
  Founder: Jeremy Macvean, Andrew McUtchen, Luke Benedictus
  Country: Australia
  
  Check it out
  
  the brag dad
  
  7. The Brag Dad
  Another veritable retreat for Australian fathers, The Brag Dad delivers compulsively readable coverage on a regular basis, and even uploads user videos. Whether you’re looking for quality parenting hacks, interesting perspectives, helpful advice, relatable vlogs or more, you’ll most definitely find it here. As it turns out, being a good dad is something to brag about.
  
  Year Founded: 2018
  Country: Australia
  
  Check it out
  
  direct advice for dads
  
  8. Direct Advice for Dads
  Direct Advice for Dads (or DAD for short) does exactly what it says it does, offering real-life advice from fathers who have seen and been through it all. That makes it one of the best blogs for first-time dads because it answers every conceivable question you might have before you’ve even asked it. Of course, no matter how many kids you’re raising, there’s still plenty of insight to reap from these articles. After all, does a father really ever stop learning how to parent?
  
  Year Founded: 2016
  Country: Australia
  
  Check it out
  
  all the young dads
  
  9. All the Young Dads
  Here’s a first-time dad blog and community aimed squarely at current and aspiring young fathers. Culling from a network of educators, experts, and professionals, All the Young Dads (ATYD) explores what it means to be a parent in today’s modern world. As such, there’s no stone left unturned, and no struggle left behind. If nothing else, this fantastic site serves as a perpetual reminder that you are not alone.
  
  Year Founded: 2018
  Founder: James Want, Jack Slade
  Country: Australia
  
  Check it out
  
  dad info blog website
  10. Dad Info
  Looking for answers to parenting questions? Free advice from experts? A community where you can go back and forth with other dads? Well, you’ll found all that and more here at Dad Info, a UK-based site that’s been providing all kinds of support since 2008. Naturally, it’s one of the best dad blogs on the Internet.
  
  Year Founded: 2008
  Country: Kent, England
  
  </p>
</div>


<div class="col-md-4 ">
<div class="panel" id="subcribeform">
  <div class="panel-body">
    <h4>Subscribe to our Blog</h4>

  {{wtf.quick_form(subscriber_form)}}
  {{simplemde.load}}
</div>
</div>
</div>
{% endblock %}
