{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Montserrat|Neucha|Noto+Serif+JP|Noto+Serif+KR|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://icon2.kisspng.com/20180412/xiw/kisspng-paper-sunset-shimmer-quill-cutie-mark-crusaders-bo-write-5acf53a3231648.3205577215235368031437.jpg">
{% endblock %}



{% block content %}
<br><br><br>

<div class="col-md-8">
{% for post in posts %}

  <div class="panel">
    <div class="panel-body responsive">
      <div class="col-md-8">
        <div class="text-center">
    <h1>{{post.title}}</h1>
    <h4>{{post.posted.strftime('%Y-%m-%d')}}/<a href="#">{{post.category}}</a>/<a href="/post/{{post.id}}?like=1"<i class="fas fa-heart"></i>{{post.like}}</a></h4>
  </div>
    <br>

    <p>{{post.post|truncate(350)}}</p>
    <div class="text-center">
    <a href="/post/{{post.id}}" >CONTINUE READING...</a>
  </div>
  </div>
  <div id="img" class="col-md-4">
    <img src="{{url_for('static',filename='css/food.jpg')}}" class="img-rounded img-responsive">
  </div>
</div>
  </div>
{% endfor %}
</div>


<div class="jumbotron">
<p>
  TEN AMAZING KENYAN FOOD BLOGS YOU SHOULD CONSIDER CHECKING OUT
  LOLYNESEPTEMBER 10, 2019
  I don’t know about you, but for me, food is bae. If there is one thing our grandmothers know all too well, it is cooking and what good food can do for a family. They even had secret recipes and ingredients, passed down from generation to generation. Most of my good memories have been spent in the kitchen or on the dining table, sharing laughter and stories, over a well-cooked home meal.
  
  Thanks to the online space, we can now download or search recipes to try out from food blogs. These are blogs that comprise of anything ranging from cooking styles, recipes, types of foods, food testing, reviews about different types of food, healthy eating, and food photography. There are many amazing food blogs in Kenya. Let’s look at some of them.
  
  LeoTunapika
  
  Gatuiri writes about the joys and woes of placing a meal on the table. She was inspired to start her own food blog by Pendo La Mama, a cooking journal. Aside from recipes, she also writes about eating out and a bit of travel. She is a one time winner of the BAKE Awards.
  
  CookingwithJazz
  
  Jazz makes the not so simple meals easy to make with her simple recipes.  She has loved cooking ever since I was little and I basically taught herself how to do it through watching her mum and cooking shows on T.V. She also does food reviews and a bit of travel.
  
  NairobiKitchen
  
  More than eating, Mulunga loves eating what she has cooked. Cooking for her borders on obsession. You’ll mostly find her perusing recipe sites, cooking channels to find that perfect recipe. Her all-time favourite cooking shows would be Master Chef, Hell’s Kitchen, Cake Boss, Royco Fuata Flavor, and My Kitchen Rules.
  
  TastieDine
  
  Ms. Biwott bringings sinfully delicious recipes to life both on her blog and her youtube channel. She started TastieDine as a creative outlet to showcase her passion for homemade food and its’ recipes. Ms. Biwott constantly panics over “wasting” a good ingredient. She believes well prepared and presented food is the visual representation of a happy soul. She is also self- taught baker and a hotel reviewer.
  
  KaluhisKitchen
  
  Kaluhis Kitchen is an everyday Kenyan food blog whose goal is using locally available ingredients, to make inspiring easy to follow recipes and to make the food unique, tantalizing and appetizing. She believes that life in the kitchen doesn’t need to be burdensome or stagnant and she purposes to show you just how fun and easy cooking can be.
  
  Kaluhi wants her blog and youtube channel to build your kitchen confidence, encourage brilliant cooking, and inspire you to share laughs over a fantastic meal. She is a three-time BAKE Awards winner.
  
  KanesKitchenAffair
  
  Kane finds joy in the art of cooking and sharing. Her relationship with the kitchen feels like a little affair because of the excitement it gives her. She didn’t really have an interest in cooking until she moved out and realized she really didn’t enjoy eating out. Apart from making amazing stews, she also bakes.
  
  AFoodiesCollective
  
  Lucy is a Kenyan food and travel blogger. She a food lover, usually eating her way through Nairobi and occasionally beyond. She eats out more than she probably should and enjoys sharing her foodie experiences with people. Lucy also hopes to shed light on eateries across the city so you are well informed on what they have to offer as well as helping food lovers discover new places.
  
  PikaChakula
  
  Chani hopes to help people discover their inner chef. She likes to experiment and create dishes from different parts of the world using ingredients that are readily available here in Kenya. She also collects kitchen items and is too scared of losing any of them so she’d rather wash the dishes herself. Chani has made cuisines from all over the world and hopes to continue her brother’s legacy. She is also a three-time BAKE Awards winner.
  
  ChowDown
  
  The only guy in the list, Daniel specializes in restaurant and bar reviews. He gives honest and candid opinions of places he has gone, services and what they should be doing better. He also loves travelling and discovering new places.
  
  KaarisKitchen
  
  Kaari not only writes about her favourite recipes but also spices and how they are beneficial to your body. Healthwise, she writes about basic kitchen tips and how to plan your meals, for efficient and stress-free cooking. She just doesn’t do recipes, but also give guidance on how to improve your quality of life, through food. Kaari is a two-time nominee in the BAKE Awards.
  
  Who are your favourite food bloggers? Hit us up in the comments section.</p>
</div>


<div class="col-md-4 ">
<div class="panel" id="subcribeform">
  <div class="panel-body">
    <h4>Subscribe to our Blog</h4>

  {{wtf.quick_form(subscriber_form)}}
  {{simplemde.load}}
</div>
</div>
</div>
{% endblock %}
